
<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center; margin-top:30px;color:#00759C">User Login</mat-card-title>
        <mat-card-content>
          <form>
            <mat-form-field>
              <input matInput placeholder="User Name" [formControl]="username" >
              <mat-icon matSuffix style="color: #00759C">email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" [formControl]="password">
              <mat-icon matSuffix style="color: #00759C">lock</mat-icon>
            </mat-form-field>
            <mat-checkbox>Remember Me!</mat-checkbox>
            <button
              mat-raised-button
              color="primary"
              class="login-button" (click)="login()">
              Sign In
            </button>

            <button
              mat-raised-button
              class="login-button" [routerLink]="'../login'">
              Back to Home
            </button>

          </form>
        </mat-card-content>
  </mat-card>
</div>
