<div class="p-3">
  <div>
    <h1>Event Management Section</h1>
  </div>
  <form>
    <div class="row">
      <div class="row">
        <div class="col-4">
          <mat-form-field appearance="outline" class="formsize">
            <mat-label>Event Name</mat-label>
            <input matInput placeholder="eventName" [formControl]="eventName">
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="formsize">
            <mat-label>Event Type</mat-label>
            <input matInput placeholder="Name" [formControl]="eventType">
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="formsize">
            <mat-label>country</mat-label>
            <input matInput placeholder="Name" [formControl]="country">
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field appearance="outline" class="formsize">
            <mat-label>Select Game</mat-label>
            <mat-select [(ngModel)]="gameId" name="department">
              <mat-option *ngFor="let game of games" [value]="game.gameID">
                {{game.gameName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="formsize">
            <mat-label>Starting Date</mat-label>
            <input matInput [matDatepicker]="pickers" [formControl]="startTime">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickers">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #pickers></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="formsize">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Name" [formControl]="location">
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field appearance="outline" class="formsize">
            <mat-label>Organizer</mat-label>
            <input matInput placeholder="Name" [formControl]="organizer">
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline" class="formsize">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="endTime">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-4">

        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <mat-form-field appearance="outline" class="formsize">
            <mat-label>Event image</mat-label>
            <input matInput placeholder="Name" [formControl]="eventImage">
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <div class="col-4">

          <mat-form-field appearance="outline" class="formsize">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Name" [formControl]="description">
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <div class="col-4">

        <!--  <mat-form-field appearance="outline" class="formsize">
            <mat-label>IsPaid</mat-label>
            <input matInput placeholder="Name" [formControl]="isPaid">
            <mat-hint></mat-hint>
          </mat-form-field>-->



          <mat-form-field appearance="outline" class="formsize">
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="isPaid">
              <mat-option value="YES">YES</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
          </mat-form-field>


        </div>
      </div>
    </div>

    <div class="col-auto">
      <button mat-raised-button color="primary" (click)="onSave()">Add Employee</button>
    </div>

  </form>
  <div class="table-are">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-5 mb-5">

      <ng-container matColumnDef="action" >
        <th mat-header-cell class="form-table-header" *matHeaderCellDef > Action</th>
        <td mat-cell class="form-table-column" *matCellDef="let row">
          <div class="action-set">
            <button mat-mini-fab style="background: #2ecc71" class="me-2" (click)="openDialog(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab style="background: #3498db" class="me-2" (click)="Delete(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="eventId">
        <th mat-header-cell *matHeaderCellDef> Event ID</th>
        <td mat-cell *matCellDef="let element"> {{element.eventId}} </td>
      </ng-container>

      <ng-container matColumnDef="gameId">
        <th mat-header-cell *matHeaderCellDef> Game ID</th>
        <td mat-cell *matCellDef="let element"> {{element.gameId.gameName}} </td>
      </ng-container>

      <ng-container matColumnDef="eventType">
        <th mat-header-cell *matHeaderCellDef> event Type</th>
        <td mat-cell *matCellDef="let element">
          {{element.eventType}}
        </td>
      </ng-container>
      <ng-container matColumnDef="isPaid">
        <th mat-header-cell *matHeaderCellDef> IsPaid</th>
        <td mat-cell *matCellDef="let element">
          {{element.isPaid}}
        </td>
      </ng-container>

      <ng-container matColumnDef="eventName">
        <th mat-header-cell *matHeaderCellDef> Event Name</th>
        <td mat-cell *matCellDef="let element">
          {{element.eventName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef> Start Time</th>
        <td mat-cell *matCellDef="let element">
          {{element.startTime}}
        </td>
      </ng-container>

      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef> End Time</th>
        <td mat-cell *matCellDef="let element">
          {{element.endTime}}
        </td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country</th>
        <td mat-cell *matCellDef="let element">
          {{element.country}}
        </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location</th>
        <td mat-cell *matCellDef="let element">
          {{element.location}}
        </td>
      </ng-container>

      <ng-container matColumnDef="organizer">
        <th mat-header-cell *matHeaderCellDef>Organizer</th>
        <td mat-cell *matCellDef="let element">
          {{element.organizer}}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let element">
          {{element.description}}
        </td>
      </ng-container>

      <ng-container matColumnDef="eventImage">
        <th mat-header-cell *matHeaderCellDef> Event Image</th>
        <td mat-cell *matCellDef="let element">
          {{element.eventImage}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

