<mat-nav-list>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home"><mat-icon>home</mat-icon> Home</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/department"> <mat-icon>label</mat-icon> Games</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/employee"> <mat-icon>diversity_3</mat-icon> Events </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/user"> <mat-icon>chat</mat-icon> Users </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/leave"> <mat-icon>assignment</mat-icon> Teams </a>
</mat-nav-list>
