textarea {
  width: calc(100% - 20px);
  background-color: #fff;
  font-size: 1.2em;
  resize: none;
  border: none;
  height: 40px;
  margin-bottom: 10px;
}

.message-area{
  height: 300px;
  overflow: scroll;
  border: #a597fa solid;
  padding-left: 2px;
}
